<web-app>
    <display-name>ExternalTest</display-name>

    <servlet>
        <servlet-name>urlGetServlet</servlet-name>
        <servlet-class>com.UrlTest.UrlGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>urlGetServlet</servlet-name>
        <url-pattern>/urlGet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>urlPostServlet</servlet-name>
        <servlet-class>com.UrlTest.UrlPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>urlPostServlet</servlet-name>
        <url-pattern>/urlPost</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>com.test.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WriteToFileServlet</servlet-name>
        <servlet-class>com.test.WriteToFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WriteToFileServlet</servlet-name>
        <url-pattern>/writeToFile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.test.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlUploadServlet</servlet-name>
        <servlet-class>com.UrlTest.UrlUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlUploadServlet</servlet-name>
        <url-pattern>/urlUpload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlDownloadServlet</servlet-name>
        <servlet-class>com.UrlTest.UrlDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlDownloadServlet</servlet-name>
        <url-pattern>/urlDownload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ParamServlet</servlet-name>
        <servlet-class>com.test.ParamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParamServlet</servlet-name>
        <url-pattern>/param</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlParamServlet</servlet-name>
        <servlet-class>com.UrlTest.UrlParamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlParamServlet</servlet-name>
        <url-pattern>/urlParam</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlError901Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error901Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError901Servlet</servlet-name>
        <url-pattern>/urlerr901</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlError902Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error902Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError902Servlet</servlet-name>
        <url-pattern>/urlerr902</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UrlError900Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error900Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError900Servlet</servlet-name>
        <url-pattern>/urlerr900</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlError903Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error903Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError903Servlet</servlet-name>
        <url-pattern>/urlerr903</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlError908Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error908Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError908Servlet</servlet-name>
        <url-pattern>/urlerr908</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlError404Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error404Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError404Servlet</servlet-name>
        <url-pattern>/urlerr404</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlError500Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error500Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError500Servlet</servlet-name>
        <url-pattern>/urlerr500</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Error500Servlet</servlet-name>
        <servlet-class>com.test.Error500Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error500Servlet</servlet-name>
        <url-pattern>/500</url-pattern>
    </servlet-mapping>
</web-app>

